html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #181318;
}

body {
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    position: relative;      /* for absolute background */
    background: transparent;
}

.menu {
    position: absolute;
    z-index: 20;
    top: 1.5vh;   /* distance from top scales with viewport height */
    left: 2vw;  /* distance from left scales with viewport width */
    display: flex;
    gap: 2vw;   /* spacing between buttons scales with window width */
}

.save_button {
    padding: 0.8vh 1.87vw;                /* scales with screen size, 1st one is top/bottom, 2nd one is left/right */
    font-size: clamp(0.8rem, 2.25vw, 2rem); /* min, preferred, max */
    font-family: 'Outfit', sans-serif;
    
    background: #2D2431;
    border-radius: 4vh;                /* rounded corners scale */
    color: #F1BCCD;
    cursor: pointer;
    
    display: inline-block;
    transition: background 0.3s ease, color 0.3s ease;
    z-index: 3;
    box-shadow: 0 0.5vw #201922;
}

.save_button:hover {
    background-color: #E39CB3;  /* lighter hover background */
    color: #FAEADD;                 /* white text on hover */
    box-shadow: 0 0.5vw #e16d91;
}

.save_button:active {
    background-color: #E39CB3;  /* lighter hover background */
    color: #FAEADD;                 /* white text on hover */
    box-shadow: 0 0.2vw #e16d91;
    transform: translateY(0.3vw);
}

.zoom_plot {
    position: absolute;
    display: flex;
    justify-content: center; /* horizontal center */
    top: 15%;
    width: 70%;
    height: 50%;

    background: #fff url("../../Opening_file_window/Int_fluctuations.png") no-repeat center center;
    background-size: contain;   /* fill container, crop excess */
    background-position: center;   /* center vertically */
    z-index: 21;                   
    
    box-shadow: 0vh 0vw 0.5vh 0.5vw #ffffff;
}